@import "src/animations";
@import "src/keyframes";

.MuiPaper-root.card-component.projects {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  opacity: 0;
  @include fade-in-animation;
  max-width: 800px;
  padding: 8px 24px;
  background: rgba($color: #000000, $alpha: 0.75);
  border-radius: 0px;
  box-shadow: 6px 7px 0px 1px #8f8f8f;

  .heading {
    font-size: 2rem;
    font-weight: 900;
    margin: 10px 0px 24px;
  }
  .desc-container {
    margin: auto;
  }
  .desc {
    text-align: start;
    font-size: 15px;
    font-weight: 500;
  }
  .tech-stack {
    display: flex;
    margin: 14px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .tech {
    margin: 5px;
    background: #656565;
    padding: 4px 6px;
    font-size: 12px;

    font-weight: 300;
    cursor: default;
  }

  .showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 60px;
    border-top: 1px solid #f5f5f5;
    padding: 15px 0px 40px;
    max-height: 500px;
    overflow: scroll;
    padding-bottom: 200px;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #c2c2c2;
      outline: none;
      border-radius: 8px;
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

  .mt-10 {
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}

.projects.short-fade {
  animation-delay: 0.3s;
}

.projects.long-fade {
  animation-delay: 1.8s;
}

@media all and (max-width: 700px) {
  .MuiPaper-root.card-component.projects {
    .heading {
      font-size: 2em;
    }
    .showcase {
      grid-template-columns: 1fr;
      grid-row-gap: 80px;
    }
    .desc-container {
      max-width: 300px;
      .desc {
        font-size: 14px;
      }
      .tech-stack {
        max-width: 300px;
        justify-content: space-between;
      }
    }
  }
}
