@import "src/animations";

.typewriter {
  min-width: 360px;
  min-height: 50px;
  .caret {
    border-right: 0.2em solid;
    animation: caret 1s steps(1) infinite;
  }
}

@media all and (max-width: 600px) {
  .typewriter {
    min-width: 300px;
    min-height: 40px;
  }
}
