@import "src/animations";
@import "src/keyframes";

.home {
  opacity: 0;
  @include fade-in-animation;

  .brief {
    text-align: left;
    color: #3f3f3f;
    h2 {
      font-size: 3.5rem;
    }

    h1 {
      font-size: 5rem;
    }

    p {
      font-size: 2rem;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    a {
      text-decoration: none;
      color: #3f3f3f;
      text-align: left;
      width: fit-content;
      font-size: 1.4rem;
      &:hover span {
        color: #000;
      }
    }

    .link {
      margin: 0.5rem;
    }
  }
}
.home.hidden {
  opacity: 0;
}

@media all and (max-width: 600px) {
  .home {
    .brief {
      h2 {
        font-size: 2.5rem;
      }

      h1 {
        font-size: 4rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}
