.about {
  opacity: 0;
  animation-name: visible;
  animation-duration: 1s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;

  .brief {
    text-align: left;
    // margin: 0 auto;
    h2 {
      font-size: 3.5rem;
    }

    h1 {
      font-size: 5rem;
    }

    p {
      font-size: 2rem;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    // margin: 0 auto;
    padding-top: 1rem;
    // width: 100%;
    a {
      // padding: 0.5rem 0rem;
      text-decoration: none;
      color: #fff;
      text-align: left;
      width: fit-content;
      font-size: 1.4rem;
    }

    .link {
      margin: 0.5rem;
    }
  }
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
