@import "src/animations";
@import "src/keyframes";

.home {
  opacity: 0;
  @include fade-in-animation;

  .brief {
    text-align: left;
    color: #3f3f3f;
    h2 {
      font-size: 3.5rem;
    }

    h1 {
      font-size: 5rem;
    }

    p {
      font-size: 2rem;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    a {
      text-decoration: none;
      color: #3f3f3f;
      text-align: left;
      width: fit-content;
      font-size: 1.4rem;
      &:hover span {
        color: #000;
      }
    }

    .link {
      margin: 0.5rem;
    }
  }

  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    .icon {
      cursor: pointer;
      margin: 15px 10px 10px;
      padding-right: 25px;
      width: fit-content;
      &.ml-0 {
        margin-left: 0;
      }
      .icon-img {
        width: 65px;
        object-fit: contain;
        margin-top: 3px;
        min-height: 50px;
        &.xs {
          width: 50px;
          margin-top: 10px;
        }
      }
      .icon-text {
        color: #000;
        transition: color 350ms ease;
        font-size: 14px;
        &.pt-4 {
          padding-top: 4px;
        }
        &:hover {
          color: #efefef;
          transition: color 350ms ease;
        }
      }
      &:hover {
        .icon-text {
          color: #efefef;
        }
      }
    }
  }
}
.home.hidden {
  opacity: 0;
}

@media all and (max-width: 600px) {
  .home {
    .brief {
      h2 {
        font-size: 2.5rem;
      }

      h1 {
        font-size: 4rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
    .icons {
      .icon {
        .icon-text {
          font-size: 12px;
        }
      }
    }
  }
}
