.experience {
  max-width: 600px;
  box-shadow: -4px 9px 0px 0px #727272 !important;
  .main-title {
    margin: 12px 0px 12px 16px;
    text-align: left;
    position: relative;
  }
  .main-title::after {
    content: " ";
    position: absolute;
    right: -7px;
    width: 73%;
    height: 6px;
    background-color: #ffd207;
    bottom: 6px;
  }
}

@media (max-width: 600px) {
  .experience {
    background: rgba(0, 0, 0, 0.55) !important;
    border: 1px solid rgba(235, 196, 23, 0.603) !important;
    .main-title {
      font-size: 18px;
    }
    .main-title::after {
      width: 69%;
      height: 4px;
    }
  }
}
