.contacts {
  max-width: 600px;
  background: rgba(0, 0, 0, 0.43) !important;
  box-shadow: 6px 8px 0px 0px #b8b8b8 !important;
  a {
    text-decoration: none;
    color: inherit;
  }

  .main-title {
    margin: 12px 0px 12px 16px;
    text-align: left;
    position: relative;
  }
  .main-title::after {
    content: " ";
    position: absolute;
    right: -7px;
    width: 70%;
    height: 6px;
    background-color: #ffd207;
    bottom: 6px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 12px;
    width: 100%;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 14px;
    h2 {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }
  .content-txt {
    font-size: 14px;
    text-align: initial;
    font-weight: 400;
  }

  .icon-btn {
    border: 1px solid #f1a92f;
    background-color: #00000000;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 8px;
    margin-top: 12px;
    font-size: 12px;
    margin-right: 12px;
    transition: all 500ms cubic-bezier(0.19, 0.38, 0.61, 1.09);
    .btn-icon {
      color: #f1a92f;
      width: 16px;
      height: 16px;
      margin-left: 4px;
    }

    &:hover {
      background-color: #000000fc;
      color: #f1a92f;
      transition: all 200ms ease;
    }
  }
  .flex-row {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .contacts {
    background: rgba(0, 0, 0, 0.55) !important;
    border: 1px solid rgba(235, 196, 23, 0.603) !important;
    .main-title {
      font-size: 18px;
    }
    .main-title::after {
      width: 62%;
      height: 4px;
    }
  }
}
